<h1>
  Welcome to my Playground
</h1>

<p>
  This is a sample project that uses Spring Boot and Angular. Things to notice:
</p>

<ul>
  <li>Angular Material Data Tables</li>
  <li>Backend Filtering</li>
  <li>Backend Sorting</li>
  <li>Angular Auth Guard</li>
  <li>Spring Security</li>
  <li>Responsive Design (try to make screen width smaller)</li>
  <li>Angular Material Chips (when editing or registering new customer)</li>
  <li>Spring Data</li>
</ul>

<p>Source code can be found here: <a href="https://github.com/erikwiklander/spring-boot-angular">https://github.com/erikwiklander/spring-boot-angular</a>